body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.author {
  display: block;
  margin-top: 10px;
}

.quote {
  font-style: italic;
}

.author {
  font-weight: bold;
}

.quote::before,
.quote::after {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  background-color: darkgray;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.star-icon {
  font-size: 30px;
  color: yellow;
  vertical-align: middle;
  cursor: pointer;
}
